---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class='w-full max-w-xs flex-row justify-center border-2 border-sky-600 text-white cursor-pointer hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-4 py-2 text-center items-center dark:focus:ring-[#1da1f2]/55 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90'
>
  <slot />
</a>
